@font-face {
	font-family: 'Asap';
	src: url('Asap-VariableFont_wght.ttf');
}

* {
    font-family: Asap;
    table-align: center;
	text-align: center;
}

body {
	overflow-x: hidden;
	font-size: 18px;
	margin: 0px;
}

table, tr {
    display: flex;
    justify-content: center;
}

button {
    border: solid 3px black;
    background-color: white;
    font-size: 18px;
	cursor: pointer;
    border-radius: 10px;
}

h1 {
    display: inline;
	font-weight: normal;
    font-size: 40px;
}

h2 {
	display: inline;
	font-weight: normal;
    font-size: 30px;
}

.table_center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.upgrade {
	width: 250px;
	margin: 5px;
	border: solid 2px black;
}

.upgrade.balanced {
	width: 250px;
	height: 150px;
	margin: 5px;
	font-size: 15px;
}
.upgrade.balanced.can {
	cursor: pointer;
	background-color: #ccc;
}
.closed {
	background-color: #777;
}
.bought {
	background-color: lightgreen;
}

.input_upgrade {
	width: 100%;
	height: 100%;
	bottom: 0px;
	border-width: 0px;
	background-color: lightgray;
}

.flat_button {
	background-color: lightgray;
	cursor: pointer;
}

.set_button {
	width: 100%;
	height: 20px;
	font-size: 15px;
	background-color: lightgray;
	cursor: pointer;
}
.set_button:hover {
	background-color: rgb(192, 192, 192);
}

button.button_start {
	width: 220px;
	height: 50px;
	border-radius: 25px;
	font-size: 12px;
}

.main {
	background-color: gray;
}

.tab_button {
	background-color: #aaa;
	margin: 5px;
	width: 100%;
	height: 60px;
	border: 0px;
	font-size: 25px;
	transition-duration: 0.5s;
}

.tab_button:hover {
	background-color: lightgray;
}

.bar {
	width: calc(100%-10px);
	height: 50px;
	margin: 5px;
	background-color: lightgray;
	border-radius: 15px;
	cursor:pointer;
}

.progress_bar {
	height: 100%;
	border-radius: 15px;
	background-color: #bbb;
	transition-duration: 0.25s;
}
.progress_bar.finish {
	background-color: lime;
}

[tooltip] {
		position: relative;
		z-index: 2;
		white-space: pre-wrap;
	}

[tooltip]:before,
[tooltip]:after {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
	white-space: pre-wrap;
}

[tooltip]:before {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #000;
	background-color: hsla(0, 0%, 5%, 0.9);
	color: #fff;
	content: attr(tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	transition-duration: 0.5s;
	white-space: pre-wrap;
}

[tooltip]:after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 5%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
	transition-duration: 0.5s;
	white-space: pre-wrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	white-space: pre-wrap;
}